tr {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

tr > th {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

tr > td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}